body{
	font-family: arial, helvetica;
	margin: 1px;
	padding: 1px;
	background: url(Ark.jpg);
	background-size: 100%;
}
.menu{
	list-style: none;
	padding: 0;
	background: #092327;
	width: 100%;
	max-width: 40%;
	margin: auto;
	position: absolute;
  	left: 1125px;
  	top: 0px;
}
.menu li a{
	text-decoration: none;
	color: white;
	padding: 32px;
	display: block;
}
.menu li{
	display: inline-block;
	text-align: center;
}
.menu li a:hover{
	background: #ef8354;
}
